/************************************
        Règles générales
************************************/
* {
    box-sizing: border-box;
}

img {
    height: auto;
    width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", "sans-serif";
    font-weight: 400;
}

a {
    color: #5CABCD;
}

/***************************************
           Entête du site
****************************************/


/***************************************
           Menu de navigation
****************************************/

header nav {

    display: flex;
    flex-direction: row-reverse;
}

header nav ul li {
    display: inline-block;
}

.couleur {
    #E0AC86 #B2835E #ECC8AA #5CABCD #EEEEF0 #111111 #303030 #DFAC88 #B18261 #7B4E2F #53595D
}

